<youpez-content-simple mainTitle="Post a Service">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="60%" class="app-card-row">
      <div class="app-productive-heading-02 px-4">DESCRIPTION</div>
      <div fxLayout="row wrap" class="mb-6">
        <div fxFlex="100%" fxFlex.gt-md="50%">
          <div class="app-card">
            <div class="app-card__content">
              <div class="mb-6">
                <ibm-label
                  [invalid]="false"
                  [invalidText]="''">
                  Provide a description of your Service
                  <textarea
                    ibmTextArea
                    [invalid]="false"
                    [disabled]="false"
                    theme="light"
                    aria-label="textarea"></textarea>
                </ibm-label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-productive-heading-02 px-4">Select Existing Service</div>
      <div fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.gt-md="50%">
          <div class="app-card">
            <div class="app-card__content">
              <div class="mb-6">
                <ibm-select
                  [disabled]="false"
                  size="md"
                  [invalid]="false"
                  [invalidText]="''"
                  [label]="'Services'"
                  [helperText]="''"
                  theme="light"
                  [display]="''">
                  <option value="default" disabled selected hidden>Choose an option</option>
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                </ibm-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-productive-heading-02 px-4 mt-6">Is a Volunteer Service?</div>
      <div fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.gt-md="50%">
          <div class="app-card">
            <div class="app-card__content">
              <fieldset class="bx--fieldset">
                <legend class="bx--label">Volunteer Service?</legend>
                <ibm-checkbox
                  checked="true">
                  Yes
                </ibm-checkbox>
                <ibm-checkbox>
                  No
                </ibm-checkbox>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</youpez-content-simple>
